/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
	font-size: 14px;
  color: #fff;
  overflow: auto; /* Permitir desplazamiento vertical */
}

/* Fondo con fotos fullscreen */
.background-slider {
  position: fixed; /* Fondo fijo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeSlider 15s infinite;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide:nth-child(1) {
  animation: fade 15s infinite 0s;
}

.slide:nth-child(2) {
  animation: fade 15s infinite 5s;
}

.slide:nth-child(3) {
  animation: fade 15s infinite 10s;
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  33%, 66% {
    opacity: 1;
  }
}

/* Logo */
.header {
  position: relative;
  top: 0px;
  left: 0px;
}

.logo {
  width: auto;
  height: auto;
  max-width: 100%; 
}

/* Contenedor del logo con fondo negro transparente */
.logo-container {
  background: rgba(0, 0, 0, 0.8); /* Fondo negro con 80% de opacidad */
  width: 100vw; /* Se extiende de punta a punta horizontalmente */
  padding: 10px 0; /* Espaciado arriba y abajo del logo */
  text-align: center; /* Centra el logo dentro del contenedor */
  box-sizing: border-box; /* Incluye padding en el ancho total */
  overflow: hidden; /* Evita cualquier desbordamiento */
}

/* Contenido */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%; /* Asegura que el contenido ocupe al menos toda la pantalla */
  padding: 20px;
}

.text-container {
  max-width: 60%;
  background: rgba(0, 0, 0, 0.8); /* Fondo más oscuro (opacidad aumentada a 0.8) */
  padding: 20px;
  margin-top: 20px;
  word-wrap: break-word;
  overflow: hidden;
	margin: 0 auto; /* Centra el contenedor */
  font-size: 1rem; /* Ajusta el tamaño del texto */
  line-height: 1.5; /* Mejora la legibilidad */
}

/* Botón */
.footer {
  position: relative; /* Cambiado a relativo para que se desplace con el contenido */
  margin-top: 20px; /* Espacio antes del botón */
  width: 100%;
  display: flex;
  justify-content: center;
}

.cta-button {
  background-color: #0B5511;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #609221;
}

/* Estilo para los títulos */
h1 {
  font-size: clamp(2rem, 5vw, 3rem); /* Escalar entre 2rem y 3rem según el ancho de la pantalla */
}

h2 {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

h4, h5, h6 {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #FF6666; /* Color dorado */
}

@media screen and (max-width: 768px) {
  .logo-container {
    width: 100%; /* Asegúrate de que el contenedor ocupe toda la pantalla */
  }

  .text-container {
    max-width: 95%; /* Ajusta el ancho ligeramente en móviles */
	  
    padding: 15px; /* Reduce el espaciado interno */
  }

  h1 {
  font-size: clamp(2rem, 5vw, 3rem); /* Escalar entre 2rem y 3rem según el ancho de la pantalla */
}

h2 {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

h4, h5, h6 {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

  p {
    font-size: 95%; /* Reduce ligeramente el tamaño del texto */
  }
}

.fotoprodu {
  width: 100%; /* La imagen ocupa todo el ancho disponible */
  height: auto; /* Mantiene la proporción de la imagen */
  max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
  display: block; /* Elimina cualquier espacio no deseado alrededor */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.titulo-emprendedores {
  width: 70%; /* La imagen ocupa todo el ancho disponible */
  height: auto; /* Mantiene la proporción de la imagen */
  max-width: 70%; /* Asegura que no exceda el ancho del contenedor */
  display: block; /* Elimina cualquier espacio no deseado alrededor */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

@media screen and (max-width: 768px) {
  .titulo-emprendedores {
    width: 97%; /* Reduce un poco el ancho de la imagen */
    margin: 0 auto; /* Centra la imagen */
  }
}

